{% extends "base.html" %}

{% block titulo %} Lista de equipos {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        Listar equipos
    </div>
    <div class="card-body">
        <h4 class="card-title">Equipos</h4>
        
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Escudo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">País</th>
                        <th scope="col">Estrellas</th>
                    </tr>
                </thead>
                <tbody>

                    {% for equipo in equipos %}
                    <tr class="">
                        <td scope="row"> {{ equipo.id }} </td>
                        <td>
                            <img src="{{ equipo.escudo.url }}" height="60" />
                        </td>
                        <td>{{ equipo.nombre }}</td>
                        <td>{{ equipo.pais }}</td>
                        <td>{{ equipo.estrellas }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}