{% extends "baseSorteo.html" %}

{% load static %}

{% block titulo %} Pes champions league {% endblock %}


{% block contenido %} 
  {% for jugador in jugadores %}
    <div class="container d-grid gap-3 h-75" style="flex: 1;">
      <div class="card">
        <div class="card-body">
          <div class="row h-100">
            <div class="d-flex col-4 justify-content-center">
              <div class="row align-items-end">
                <div style="display: flex; align-items: center; justify-content: center;">
                  <img id="escudo_eq_jug_{{jugador.id}}" src="" style="height: 56px;">
                </div>
                <p style="display: flex; align-items: center; justify-content: center;" id="nombre_eq_jug_{{jugador.id}}">
                </p>
                <a class="btn btn-sm btn-secondary align-items-center" id="sorteo_jug_{{jugador.id}}" onclick="consultarEquipos({{jugador.id}})" style="height: auto;">sortear</a>
              </div>
            </div>
            <div class="col-2" style="max-height: 89px; ">
              <div class="d-flex justify-content-center">
                <img class="rounded-circle" src="{{ jugador.foto.url }} " style="height: 89px; width: 89px;" alt="">
              </div>
              <p class="text-center" style="font-size: 2vw; ">{{ jugador.nombre }}</p>
            </div>
            <div class="d-flex col-6 align-items-end space-between">
              <i class="fa fa-star flex-fill" >{{ jugador.estrellas }}</i>
              <i class="fa fa-globe flex-fill"> {{ jugador.copasMundial }}</i>
              <i class="fa fa-etsy flex-fill"> {{ jugador.copasEuro }}</i>
              <i class="fa fa-font flex-fill"> {{ jugador.copasAmerica }}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}